html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

iframe {
  border-width: 0;
}

#toolbox-iframe {
  flex-grow: 1;
}

#device-inspector-iframe {
  height: 150px;
}
