* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  display: flex;
  margin: 0;
  background: #22272D;
  flex-direction: column;
}

#content {
  display: flex;
  flex-grow: 1;
}

#tabs {
  display: flex;
  flex-direction: column;
  box-shadow: inset -1px 0 5px rgba(0,0,0,0.9);
}

.button {
  width: 80px;
  height: 80px;
  -moz-appearance: none;
  border: none;
  border-top: 1px solid #323234;
  border-bottom: 1px solid #121214;
  background: #2F373F;
  color: white;
  cursor: pointer;
  text-indent: -9999px;
}

.button[selected] {
  color: #FFF;
  border-color: #191B1E;
  box-shadow: inset 0 0 15px #111;
}

.button::-moz-focus-inner {
  border-width: 0;
}

.button:hover,
.button:focus {
  text-decoration: underline;
}

#tab-panels {
  flex-grow: 1;
}

.panel {
  border-width: 0;
  width: 100%;
  height: 100%;
}

.panel:not([selected="true"]) {
  display: none;
}

.projects-button {
  background: url('chrome://browser/skin/devtools/index-icons.svg') no-repeat;
  background-position: left 0px;

}

.projects-button[selected] {
  background-position: right 0px;
}

.device-button {
  background: url('chrome://browser/skin/devtools/index-icons.svg') no-repeat;
  background-position: left -80px;
}

.device-button span {
  top: 0;
  left: -2px;
  position: relative;
  width: 1px;
  height: 80px;
  display: block;
}

.device-button.disconnected span {
  background: linear-gradient(to bottom, transparent, #FF4800, transparent);
}

.device-button.connected span {
  background: linear-gradient(to bottom, transparent, #B1FC0D, transparent);
}

.device-button[selected] {
  background-position: right -80px;
}

#connection-footer {
  border-width: 0;
  height: 50px;
  min-height: 50px;
}

