html, body {
  margin: 0;
  height: 100%;
}

h1,
section,
footer {
  max-width: 800px;
  margin: auto;
}

footer,
section {
  margin-top: 30px;
}

#first-page,
#device-page,
#simulator-page {
  display: none;
}

[show="first-page"] > #first-page,
[show="device-page"] > #device-page,
[show="simulator-page"] > #simulator-page {
  display: block;
}

header {
  padding: 30px 0;
  background: #E7EBEE;
}
